@font-face {
    font-family: HyliaSerifBeta-Regular;
    src: url('/font/HyliaSerifBeta-Regular.otf');
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: cornflowerblue;
    background-color: black;
    text-align: center;
    font-family: HyliaSerifBeta-Regular;
    margin-top: 100px;
    font-size: auto;
}

img.resize {
    width:720px;
    height: 450px;
} 

#intro {
    align-self: center;
    width:720px;
    height: 450px;
}

#random-question {
    font-size: 200%;
}

.damage {
    color: red
}

.attack {
    color: green
}

